@charset "UTF-8";

.game_notice {
	text-align: center;
	margin-bottom: 10px;
	font-weight: var(--weight-bold);
}

.game_notice_ex {
	text-align: center;
	margin-bottom: 50px;
	font-weight: var(--weight-bold);
	font-size: var(--font-micro);
}

#filterForm {
	width: 1100px;
	margin: 0 auto 30px;
	position: relative;
}

.filter {
	margin-right: 4px;
	height: 35px;
	border-radius: 5px;
    border: 1px solid var(--color-gray);
}

.btn-filter {
	outline: none;
	/* background-color: var(--color-light-gray); */
	border: 1px solid #F1EAAC;
	border-radius: 4px;
	height: 35px;
	background: #F1EAAC;
}

.new_game {
	position: absolute;
	right: 12%;
	text-decoration: underline;
    text-underline-position: from-font;
}

.new_game:link, .new_game:hover, .new_game:visited{
	color: var(--color-dark-gray);
}

.back_to_list {
	position: absolute;
	right: 2%;
	text-decoration: underline;
    text-underline-position: from-font;
}

.back_to_list:link, .back_to_list:hover, .back_to_list:visited{
	color: var(--color-dark-gray);
}

.game_list {
	display: flex;
	flex-direction: column;
	width: 1100px;
	margin: 0 auto;
}

.game_item {
	height: 100px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	text-align: center;
	margin-bottom: 24px;
}

.game_region {
	height: 100%;
	flex-basis: 10%;
	line-height: 96px;
	/* background-color: var(--color-light-gray); */
	font-weight: var(--weight-bold);
	border: 2px solid var(--color-gray); 
	border-radius: 10px;
	font-size: 18px;
}

.game_info_container.rank {
	height: 100%;
	flex-basis: 75%;
	display: flex;
	align-items: center;
	border: 1px solid var(--color-rank-blue); 
	margin: 0 16px;
	border-radius: 10px;
}

.game_info_container.rank:hover {
	background: var(--color-rank-hover);
}	

.game_info_container.norm {
	height: 100%;
	flex-basis: 75%;
	display: flex;
	align-items: center;
	/* background-color: var(--color-light-gray); */
	border: 2px solid var(--color-norm-green);
	margin: 0 16px;
	border-radius: 10px;
	justify-content: space-around;
}
.game_info_container.norm:hover {
	background: var(--color-norm-hover);
	
}

.game_info{
	margin: 0 auto;
}
.game_time {
	width: 220px;
	padding: 0 24px;
	font-weight: var(--weight-bold);
	margin: 0 20px;
}

.game_stadium {
	text-decoration: none;
    outline: none;
    color: var(--color-black);
	font-size: var(--font-small);
	font-weight: var(--weight-bold);
}

.game_stadium:hover {
	color: var(--color-black);
}

.game_conditions {
	margin-top: 6px;
}

.game_condition {
	padding: 3px 9px;
    border-radius: 4px;
    font-weight: var(--weight-bold);
    margin-right: 4px;
    /* border: 2px dashed #ddd; */
    border: 1px solid #ddd;
}

.game-status {
	height: 100%;
	line-height: 98px;
	flex-basis: 15%;
	border-radius: 10px;
}

.game-status.close { /* 경기 상태 - 마감 */
	font-weight: var(--weight-bold);
	/* border: 1px solid darkgray; */
	color: #949494;
	font-size: 18px;
	background: #E6E6E6;
}

.game-status.imminent { /* 경기 상태 - 마감임박 */
	background-color: #FFE4E4;
	color: var(--color-white);
	font-weight: var(--weight-bold);
	font-size: 18px;
	border: 2px solid #DF8787;
}

.game-status.open { /* 경기 상태 - 신청가능 */
	background-color: #DAE7FF;
	color: var(--color-white);
	font-weight: var(--weight-bold);
	font-size: 18px;
	border: 2px solid #4F81E3;
}

.game_stadium2 {
	text-decoration: none;
    outline: none;
    color: var(--color-white);
	font-weight: var(--weight-bold);
}

.game_stadium2:hover, .game_stadium2:visited, .game_stadium2:link {
	color: #3B3232;
}

.game_stadium3 {
	text-decoration: none;
    outline: none;
    color: var(--color-white);
	font-weight: var(--weight-bold);
}

.game_stadium3:hover, .game_stadium3:visited, .game_stadium3:link {
	color: #949494;
}