@charset "UTF-8";

#paymentListContent{
	/* margin-left: 300px;
	margin-top: 50px;
	margin-right: 5px;
	margin-bottom: 50px; */
	font-size: 18px;
	margin-left: 285px;
	padding-top: 70px;
	height: 1200px;
}
/*상부 스타일*/
.pmlh3{
	text-align: right;
}
/*날짜 필터*/
#pmSelectedDate{
    text-align: center;
    height: 37px;
    width: 163px;
    border-radius: 5px;
    border: 1px solid gray;
    margin: 10px 0;
}

/*----table-----------*/
#pmTable{
	height: 600px;
    /* overflow-y: scroll; */
    display: inline-block;
    height: 800px;
}
#pmTable td, 
#pmTable th{
	text-align: center;
	width: 15%;
	padding: 17px;
}

#pmTable tr{
	border-block: 1px solid #ddd;    
	
}
#pmThead{
	background: #5D5D80;
	color: white;
	font-weight: 500;
}
#pmTbTr:nth-child(2n){
	background: #F8F8F9;
}
#pmTbTr>.pmTd{
	font-weight: 500;
	font-style: italic;
}
#paymentListContent .pagingDiv {
	display: flex;
	justify-content: center;
}

#paymentListContent .pagingDiv li{
	float:left;
	display: flex;
	padding: 3px 5px;
	margin: 0 12px;
	font-size: var(--font-micro);
}

#paymentListContent .pagingDiv a:link,
#paymentListContent .pagingDiv a:hover,
#paymentListContent .pagingDiv a:visited {
	color: var(--color-black);
}
