<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gather.we.dao.ManagerSettlementDAO">
	<!-- 정산내역 목록 -->
	<select id="mSettlementAllSelect" resultType="com.gather.we.dto.ManagerSettlementDTO">
		SELECT s.stadium, rg.gametime, ms.d_status, ms.amount
		FROM rank_game rg
			INNER JOIN stadium_info s ON rg.st_no = s.st_no
			INNER JOIN m_settlement ms ON rg.no = ms.no
		ORDER BY rg.gametime desc
	</select>
	
	<!-- 정산내역 페이징 -->
	<select id="getListWithPaging" parameterType="com.gather.we.dto.MSettlementCriteria" resultType="com.gather.we.dto.ManagerSettlementDTO">
			SELECT *
			FROM (
				  SELECT rownum rnum, t.*
				  FROM (
					  SELECT s.stadium, rg.gametime, ms.d_status, ms.amount
					  FROM rank_game rg
					  	INNER JOIN stadium_info s ON rg.st_no = s.st_no
					    INNER JOIN m_settlement ms ON rg.no = ms.no
				      WHERE 1=1
				      	AND rg.managerid = #{logId}
				      	AND rg.gametime <![CDATA[<]]>sysdate
				      <if test="mscriteria.keyword != null and mscriteria.keyword != ''"> 
				        AND s.stadium LIKE '%' || #{mscriteria.keyword} || '%'			<!-- 키워드 검색 조건 -->
					  </if>
					  <if test="mscriteria.datetime != null and mscriteria.datetime != ''">
					    AND TO_DATE(rg.gametime, 'YY/MM/DD') = #{mscriteria.datetime}  <!-- 날짜 검색 조건 -->
					  </if>
					  ORDER BY
					  <choose>
					    <when test="mscriteria.datetime != null and mscriteria.datetime != ''"> rg.gametime DESC </when>				<!-- 정산일 필터 -->
					    <when test="mscriteria.dStatusOrder != null and mscriteria.dStatusOrder != ''"> ms.d_status DESC </when>		<!-- 입금상태 필터 -->
					    <otherwise> rg.gametime DESC </otherwise>												<!-- default 필터 -->
					  </choose>
			  	 ) t
			  WHERE rownum <![CDATA[<=]]> ${mscriteria.pageNum * mscriteria.amount}
			)
			WHERE rnum <![CDATA[>]]> ${(mscriteria.pageNum - 1) * mscriteria.amount }
	</select>
	
	<!-- 정산내역 총 개수 -->
	<select id="getTotalCount" parameterType="com.gather.we.dto.MSettlementCriteria" resultType="int">
		SELECT count(*)
		FROM rank_game rg
			INNER JOIN stadium_info s ON rg.st_no = s.st_no
			INNER JOIN m_settlement ms ON rg.no = ms.no
		WHERE 1=1
			AND rg.managerid = #{logId} 
			AND rg.gametime <![CDATA[<]]>sysdate
		<if test="mscriteria.keyword != null and mscriteria.keyword !=''">
			AND s.stadium LIKE '%'||#{mscriteria.keyword}||'%'
		</if>
		<if test="mscriteria.datetime != null and mscriteria.datetime !=''">
			AND TO_DATE(rg.gametime, 'YY/MM/DD') = #{mscriteria.datetime}
		</if>
	</select>
	
	<!-- 정산내역-완료합계 -->
	<select id="selectCompletedAmount" resultType="int">
		SELECT SUM(ms.amount)
	    FROM rank_game rg
	        INNER JOIN stadium_info s ON rg.st_no = s.st_no
	        INNER JOIN m_settlement ms ON rg.no = ms.no
	    WHERE ms.d_status = 1 
	    	AND rg.managerid = #{logId}	
	    	AND rg.gametime <![CDATA[<]]>sysdate
	</select>
	
	<!-- 정산내역-처리중합계 -->
	<select id="selectInprogressAmount" resultType="int">
		SELECT SUM(ms.amount)
	    FROM rank_game rg
	        INNER JOIN stadium_info s ON rg.st_no = s.st_no
	        INNER JOIN m_settlement ms ON rg.no = ms.no
	    WHERE ms.d_status = 0
	    	AND rg.managerid = #{logId}
	    	AND rg.gametime <![CDATA[<]]>sysdate 
	</select>
</mapper>